//attributes
@playPicWidth: 180px;
@playHeight: 180px;
@baseBgColor: #F15648;
@baseTextColor: rgb(220,0,0);

*{margin: 0; padding: 0;}

.one-player{
  width: 480px;
  overflow: hidden;
  user-select: none;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

  .control-item{
    display: inline-block;
    vertical-align: middle;
  }
  .clickable{
    cursor: pointer;
  }

  #bit-rate{
    color: #999;
    float: left;
    margin: 16px 0 0 0;
    font-size: 12px;
  }

  .song-pic{
    float: left;
    width: @playPicWidth;
    height: @playHeight;
    text-align: center;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .one-player-info{
    margin-left: @playPicWidth;
    padding: 0 10px;
    height: 180px;
    .one-player-play-bar{
      overflow: hidden;
      text-align: right;
      .play{
        &:hover{
          &:before{
            background-color: @baseTextColor;
          }
        }
        &:before{
          color: #fff;
          font-size: 16px;
          background-color: @baseBgColor;
          width: 22px;
          line-height: 22px;
          height: 22px;
        }
      }
    }
    .one-player-name{
      overflow: hidden;
      white-space: nowrap;

      .song-name{
        display: inline-block;
        margin: 10px 0 3px;
        color: @baseTextColor;
        font-size: 13px;
      }
      .singer-name{
        font-size: 20px;
      }
    }
    .progress{
      position: relative;
      height: 2px;
      width: 100%;
      background: #cdcdcd;
      cursor: pointer!important;
      .progress-loaded{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: #aaa;
        width: 0;
      }
      .progress-played{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        background: @baseBgColor;
      }
    }
    .one-player-control-panel-sub{
      overflow: hidden;
      .play-time-bar{
        margin-top: 4px;
        font-size: 12px;
        color: #999;
        span{
          transform: scale(0.9);
          display: inline-block;
          margin-left: -6px;
        }
      }
      .other-control{
        margin-top: 4px;
        float: right;
        .control-item{
          &:hover{
            i:before{
              color: #333;
            }
          }
          i:before{
            font-size: 18px;
            font-weight: bold;
            color: #999;
          }
        }
        .play-type{
          i:before{
            transform: rotate(-90deg);
          }
        }
        .icon-replay{
          i:before{
            font-size: 14px;
          }
        }
        .play-volume{
          &:hover{
            .volume-bar{
              width: 50px;
            }
          }
          .volume-bar{
            display: inline-block;
            vertical-align: 5px;
            width: 0;
            height: 3px;
            background: #cdcdcd;
            transition: width .2s ease;
            overflow: hidden;
            &:hover{
              cursor: pointer;
            }
          }
          .current-volume{
            height: 3px;
            background: @baseBgColor;
          }
          i:before{
            font-size: 20px;
          }
        }
      }
    }
    .one-player-lrc{
      position: relative;
      height: 40px;
      background: #fff;
      text-align: center;
      overflow: hidden;
      p{
        font-size: 12px;
        color: #666;
        line-height: 20px!important;
        height: 20px!important;
        padding: 0!important;
        margin: 0!important;
        -webkit-transition: all .5s ease-out;
        transition: all .5s ease-out;
        opacity: .4;
        overflow: hidden;
      }
      .z-sel{
        opacity: 1;
      }
    }
    .one-player-control-panel-main{
      text-align: right;
      span{
        display: inline-block;
        vertical-align: middle;
        font-size: 30px;
        margin-left: 10px;
      }
      span.icon-like{
        font-size: 26px;
      }
    }
  }
  .one-player-song-list{
    height: 0;
    max-height: 300px;
    overflow: auto;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    position: relative;
    .nocnt{
      width: 100%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(0,-50%);
      font-size: 16px;
      color: #999;
      line-height: 1.8;
      a{
        text-decoration: none;
        &:link,&:visited,&:hover,&:active{
          color: @baseTextColor;
        }
      }
    }
    .loading{
      height: 300px;
      line-height: 300px;
      text-align: center;
      font-size: 16px;
      color: #999;
    }
    .f-cb{
      li{
        position: relative;
        height: 32px;
        line-height: 32px;
        padding: 0 15px;
        font-size: 12px;
        border-top: 1px solid #e9e9e9;
        cursor: pointer;
        transition: all .2s ease;
        overflow: hidden;
        &.z-sel{
          background: #e9e9e9;
          &:hover{
            background: #e9e9e9;
          }
          .col-1{
            display: inline-block;
          }
        }
        &:hover{
          background: #efefef;
        }
        .col{
          display: inline-block;
          vertical-align: middle;
        }
        .col-1{
          display: none;
          background: @baseBgColor;
          width: 3px;
          height: 22px;
          position: absolute;
          left: 0;
          top: 5px;
          cursor: pointer;
        }
        .col-4{
          float: right;
          color: #666;
          a{
            text-decoration: none;
            &:link,&:visited,&:hover,&:active{
              color: #666;
            }
          }
        }
        .col-3,.col-5,.col-6{
          display: none;
        }
      }
    }
  }
}