//attributes
@playPicWidth: 100px;
@playHeight: 100px;

*{margin: 0; padding: 0;}

.one-player{
  width: 414px;
  overflow: hidden;
  user-select: none;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

  .clickable{
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }


  .song-pic{
    float: left;
    width: @playPicWidth;
    height: @playHeight;
    text-align: center;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .one-player-info{
    margin-left: @playPicWidth;
    padding: 14px 7px 0 10px;
    .one-player-name{
      overflow: hidden;
      white-space: nowrap;

      .music-name{
        font-size: 14px;
      }
      .singer-name{
        color: #666;
      }
    }
    .one-player-control-panel-main{
      .list-control{
        text-align: center;
        font-size: 0;
        height: 54px;
        line-height: 54px;
        .clickable{
          &:hover{
            text-decoration: none;
          }
          font-size: 24px;
        }
        .icon-play{
          margin: 0 40px;

        }
      }
    }
    .one-player-control-panel-other{
      position: relative;
      .progress-wrap{
        margin: 0 140px 0 5px;
        .progress{
          position: relative;
          height: 2px;
          width: 100%;
          background: #cdcdcd;
          cursor: pointer!important;
          .progress-loaded{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background: #aaa;
            width: 69%;
          }
          .progress-played{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 23%;
            background: #ff4500;
            .progress-thumb{
              position: absolute;
              top: -4px;
              right: -4px;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background: #fff;
              border: 1px solid #ff4500;
            }
          }
        }
      }
      .other-control{
        .control-item{
          display: inline-block;
          vertical-align: -webkit-baseline-middle;
        }
        position: absolute;
        right: 0;
        bottom: -5px;
        height: 17px;
        font-size: 11px;
        .play-time{
          color: #999;
        }
        .play-volume{
          position: relative;
          display: inline-block;
          margin-left: 7px;
          cursor: pointer!important;
          i{
            font-size: 15px;
            cursor: pointer;
            transition: all .2s ease;
          }
        }
        .play-type{
          font-size: 15px;
        }
      }
    }
  }
}